spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8081
          predicates:
            - Path=/api/order-service/**

        - id: payment-service
          uri: http://payment-service:8082
          predicates:
            - Path=/api/payment-service/**