server:
  port: 8082
spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:postgresql://localhost:5434/payment_service_db
    username: postgres
    password: postgres
  jackson:
    serialization:
      indent-output: true
  rabbitmq:
    host: localhost
    port: 5672
    username: rabbit
    password: rabbit
  jpa:
    hibernate:
      ddl-auto: update
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
  api-docs:
    enabled: true