spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:5434/payment_service_db
    username: postgres
    password: postgres

  jackson:
    serialization:
      indent-output: true

server:
  port: 8082


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
